<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>External externalJoke generator</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/external.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
<h1 class="h1 m-4" align="center">Joke generator</h1>
<div class="container my-2" align="center">
    <table>
        <tr>
            <td>
                Select category / categories
            </td>
            <td>
                <div class="multiselect noselect" id="categoryWrapper">
                    <div>
                        <input type="radio" name="catSelect" value="any" id="cat-radio1" onchange="reRender()"><label for="cat-radio1">Any</label>
                    </div>
                    <div>
                        <input type="radio" name="catSelect" value="multi" id="cat-radio2" onchange="reRender()"><label for="cat-radio2">Custom:</label>
                        <span id="catSelectMulti">
                            <input name="category" type="radio" id="cat-cb1" onchange="reRender()" disabled><label for="cat-cb1">Programming</label>
                            <input name="category" type="radio" id="cat-cb2" onchange="reRender()" disabled><label for="cat-cb2">Misc</label>
                            <input name="category" type="radio" id="cat-cb3" onchange="reRender()" disabled><label for="cat-cb3">Dark</label>
                            <input name="category" type="radio" id="cat-cb4" onchange="reRender()" disabled><label for="cat-cb4">Pun</label>
                            <input name="category" type="radio" id="cat-cb5" onchange="reRender()" disabled><label for="cat-cb5">Spooky</label>
                            <input name="category" type="radio" id="cat-cb6" onchange="reRender()" disabled><label for="cat-cb6">Christmas</label>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Select language:
            </td>
            <td>
                <div class="multiselect noselect">
                    <select id="lcodeSelect" class="appendLangOpts">
                        <option value="cs">cs - Czech</option>
                        <option value="de">de - German</option>
                        <option value="en" selected>en - English</option>
                        <option value="es">es - Spanish</option>
                        <option value="fr">fr - French</option>
                        <option value="pt">pt - Portuguese</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Select flags to blacklist:
            </td>
            <td>
                <div class="multiselect noselect">
                    (optional)&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="blf-cb1" onchange="reRender()"><label for="blf-cb1">nsfw</label>
                    <input type="checkbox" id="blf-cb2" onchange="reRender()"><label for="blf-cb2">religious</label>
                    <input type="checkbox" id="blf-cb3" onchange="reRender()"><label for="blf-cb3">political</label>
                    <input type="checkbox" id="blf-cb4" onchange="reRender()"><label for="blf-cb4">racist</label>
                    <input type="checkbox" id="blf-cb5" onchange="reRender()"><label for="blf-cb5">sexist</label>
                    <input type="checkbox" id="blf-cb6" onchange="reRender()"><label for="blf-cb6">explicit</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Select response format:
            </td>
            <td>
                <div class="multiselect noselect">
                    <input type="radio" id="fmt-cb1" name="formatRadio" value="json" onchange="reRender()"><label for="fmt-cb1">default (json)</label>
                    <input type="radio" id="fmt-cb2" name="formatRadio" value="json" onchange="reRender()"><label for="fmt-cb2">xml</label>
                    <input type="radio" id="fmt-cb3" name="formatRadio" value="json" onchange="reRender()"><label for="fmt-cb3">yaml</label>
                    <input type="radio" id="fmt-cb4" name="formatRadio" value="json" onchange="reRender()"><label for="fmt-cb4">plain text</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Select at least one externalJoke type:
            </td>
            <td>
                <div class="multiselect noselect" id="typeSelectWrapper">
                    <input type="checkbox" id="typ-cb1" onchange="reRender()"><label for="typ-cb1">single</label>
                    <input type="checkbox" id="typ-cb2" onchange="reRender()"><label for="typ-cb2">twopart</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Search for a externalJoke that<br>contains this search string:
            </td>
            <td>
                <div class="multiselect noselect">
                    <input type="text" id="searchStringInput" oninput="reRender()" placeholder="(optional)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Search for a externalJoke<br>in this ID range:
            </td>
            <td>
                <div class="multiselect noselect" id="idRangeWrapper">
                    (optional)&nbsp;&nbsp;&nbsp;
                    From: <input type="number" id="idRangeInputFrom" value="0" min="0" step="1" oninput="reRender()" max="0">
                    To: <input type="number" id="idRangeInputTo" value="1368" min="1368" step="1" oninput="reRender()" max="1368">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Amount of jokes:
            </td>
            <td>
                <div class="multiselect noselect" id="jokeAmountWrapper">
                    <input type="number" id="jokesAmountInput" value="1" min="1" step="1" oninput="reRender()" max="1">
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="container mt-3" align="center">
    <button type="button" class="btn p-2" onclick="createJoke()">Generate</button>
</div>

<input type="hidden" id="urlBuilderUrl" value="https://v2.jokeapi.dev/joke/Any"/>

<div id="jokeContent" class="container mt-4 mb-4 p-4 border" align="center">
    <h5 class="p-3">Generate new external Joke...</h5>
</div>
<script src="/js/external.js"></script>
</body>
</html>